{% trans_default_domain 'FOSUserBundle' %}

<div id = "change-password-edit-content">
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
    {#{ form_widget(form) }#}




    <div class="form-group">
		{{ form_label(form.current_password, 'Mot de passe actuel :', {'label_attr': {'class': 'col-sm-4  control-label'}}) }}
        <div class="col-sm-4">
        	{{ form_widget(form.current_password, {'attr': {'class': 'form-control','placeholder': 'Mot de passe actuel'}}) }}
        </div>
    </div>

    <div class="form-group">
		{{ form_label(form.plainPassword.first, 'Nouveau mot de passe :', {'label_attr': {'class': 'col-sm-4  control-label'}}) }}
        <div class="col-sm-4">
        	{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder': 'Nouveau mot de passe'}}) }}
        </div>
    </div>

    <div class="form-group">
		{{ form_label(form.plainPassword.second, 'Vérification :', {'label_attr': {'class': 'col-sm-4  control-label'}}) }}
        <div class="col-sm-4">
        	{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder': 'Vérification'}}) }}
        </div>
    </div>




    {{ form_rest(form) }}


    <div class="control-group">
		<div class="controls">
			<button id="_submit" name="_submit" class="btn btn btn-primary">{{ 'change_password.submit'|trans }}</button>
		</div>
	</div>


    <!--<div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>-->
</form>
</div>

<script>
    //callback handler for form submit
    $(".fos_user_change_password").submit(function(e)
    {
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax(
        {
            url : formURL,
            type: "POST",
            data : postData,
            success:function(data, textStatus, jqXHR) 
            {
            
                $('#change-password-edit-content').html(data);

            },
            error: function(jqXHR, textStatus, errorThrown) 
            {
                //if fails      
            }
        });
        e.preventDefault(); //STOP default action
        e.unbind(); //unbind. to stop multiple form submit.
    });
</script>