{% trans_default_domain 'FOSUserBundle' %}

<div id="resetting-edit-content">
<form id="resetting-form" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">
    
    	<div>
	        {% if invalid_username is defined %}
	            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
	        {% endif %}

		</div>
        <div class="control-group">
			<label class="col-sm-4" for="username">{{ 'resetting.request.username'|trans }}</label>
			<div class="controls col-sm-5">
				<input type="text" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}" />
			</div>
		</div>

    

    <div class="form-group">
        <label class='col-sm-4'></label>
        <div class="col-sm-3">
            <button type="submit" id="_submit" name="_submit" class="btn btn btn-primary">{{ 'resetting.request.submit'|trans }}</button>
        </div>
    </div>

</form>
</div>


<script>
    //callback handler for form submit
    $("#resetting-form").submit(function(e)
    {
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");
        $.ajax(
        {
            url : formURL,
            type: "POST",
            data : postData,
            success:function(data, textStatus, jqXHR) 
            {
            
                $('#resetting-edit-content').html(data);

            },
            error: function(jqXHR, textStatus, errorThrown) 
            {
                //if fails      
            }
        });
        e.preventDefault(); //STOP default action
        e.unbind(); //unbind. to stop multiple form submit.
    });
</script>

