{% extends "::layout.html.twig" %}



{% block title %}
  Déposer votre annonce gratuitement - {{ parent() }}
{% endblock %}

{% block body -%}
{# Underscore templates for the uploader #}
{% include "PunkAveFileUploaderBundle:Default:templates.html.twig" %}
    <h3>Déposer une annonce</h3>


    



    <form class="form-horizontal " novalidate action="{{ path('annonce_create', { editId: entity.imgDirId }) }}" method="post" {{ form_enctype(form) }}>  

        
        <div class="form-group">
            {{ form_label(form.annonce_type, 'Type de l\'annonce'|raw, {'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-5">
                {% for child in form.annonce_type %}
                    <label class="radio-inline">
                       {{ form_widget(child) }}{{ form_label(child) }}
                    </label>
                {% endfor %}
            </div>
        </div>
        

        <div class="form-group">
            {{ form_label(form.demande_type, 'Type de la demande', {'label_attr': {'class': 'col-sm-4'}}) }}
            <div class="col-sm-5">
                {% for child in form.demande_type %}
                    <label class="radio-inline">
                       {{ form_widget(child) }}{{ form_label(child) }}
                    </label>
                {% endfor %}
            </div>
        </div>

        


        <div style='width:50%; float:left'>
            <div class="form-group">

                {{ form_label(form.gouv, 'Région', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
                <div class="col-sm-6">
                    
                    {{ form_widget(form.gouv, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.gouv) }}

                </div>
            </div>

            <div class="form-group">

                {{ form_label(form.deleg, 'Ville', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
                <div class="col-sm-6">
                    
                    {{ form_widget(form.deleg, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.deleg) }}
                </div>
            </div>

            <div class="form-group">

                {{ form_label(form.locality, 'Localité', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
                <div class="col-sm-6">
                    
                    {{ form_widget(form.locality, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.locality) }}
                </div>
            </div>
        </div>
        <div style='width:50%; float:left'>
            
            <div class="form-group">
                
                {{ form_label(form.theme, 'Thème', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}

                <div class="col-sm-6">
                    {{ form_widget(form.theme, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.theme) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.nature, 'Nature', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.nature, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.nature) }}
                </div>
            </div>

            <div class="form-group brand-list">
                {{ form_label(form.brand, 'Catégorie', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.brand, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.brand) }}
                </div>
            </div>

            <div class="form-group model-list">
                {{ form_label(form.model, 'Modèle', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.model, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.model) }}
                </div>
            </div>
            
            
            <div class="form-group engin-field">
                {{ form_label(form.energy, 'Energie', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
                <div class="col-sm-6">
                    {{ form_widget(form.energy, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.energy) }}
                </div>
            </div>
            
            
            
            <div class="form-group engin-field">
                {{ form_label(form.power, 'Puissance fiscale en CV', {'label_attr': {'class': 'col-sm-6'}}) }}
                <div class="col-sm-3">
                    {{ form_widget(form.power, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.power) }}
                </div>
            </div>
            
            <div class="form-group engin-field">
                {{ form_label(form.mileage, 'Kilométrage', {'label_attr': {'class': 'col-sm-6'}}) }}
                <div class="col-sm-3">
                    {{ form_widget(form.mileage, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.mileage) }}
                </div>
            </div>
            
            <div class="form-group engin-field">
                {{ form_label(form.release, 'Date de mise en circulation', {'label_attr': {'class': 'col-sm-4'}}) }}
                <div class="col-sm-5">
                    {{ form_widget(form.release, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.release) }}
                </div>
            </div>
            
            
            
            <div class="form-group immob-field">
                {{ form_label(form.totalArea, 'Surface Totale (m 2)', {'label_attr': {'class': 'col-sm-6'}}) }}
                <div class="col-sm-3">
                    {{ form_widget(form.totalArea, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.totalArea) }}
                </div>
            </div>
            
            
            <div class="form-group immob-field">
                {{ form_label(form.livingArea, 'Surface habitable (m 2)', {'label_attr': {'class': 'col-sm-6'}}) }}
                <div class="col-sm-3">
                    {{ form_widget(form.livingArea, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.livingArea) }}
                </div>
            </div>
            
            
            <div class="form-group immob-field">
                {{ form_label(form.numberRooms, 'Nombre de pièce(s)', {'label_attr': {'class': 'col-sm-6'}}) }}
                <div class="col-sm-3">
                    {{ form_widget(form.numberRooms, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.numberRooms) }}
                </div>
            </div>
            
            
            <div class="form-group immob-field">
                {{ form_label(form.numberBathRooms, 'Nombre de salle(s) de bain', {'label_attr': {'class': 'col-sm-6'}}) }}
                <div class="col-sm-3">
                    {{ form_widget(form.numberBathRooms, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.numberBathRooms) }}
                </div>
            </div>
            
            
            <div class="form-group immob-field">
                {{ form_label(form.parckingPlaces, 'Nombre de place parking auto', {'label_attr': {'class': 'col-sm-6'}}) }}
                <div class="col-sm-3">
                    {{ form_widget(form.parckingPlaces, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.parckingPlaces) }}
                </div>
            </div>
            
            
            <div class="form-group immob-field">
                {{ form_label(form.constructionYear, 'Année de construction', {'label_attr': {'class': 'col-sm-6'}}) }}
                <div class="col-sm-3">
                    {{ form_widget(form.constructionYear, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.constructionYear) }}
                </div>
            </div>
            
            
            <div class="form-group immob-field">
                {{ form_label(form.floorNumber, 'Numéro de l’étage', {'label_attr': {'class': 'col-sm-6'}}) }}
                <div class="col-sm-3">
                    {{ form_widget(form.floorNumber, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.floorNumber) }}
                </div>
            </div>
            
            
            
            

            <!--<div class="form-group">
                <label for="categorie" class="col-sm-2 control-label">Catégorie</label>
                <div class="col-sm-6">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>-->
            

        </div>
        <div style="clear:both;"></div>

        <div class="form-group">

            {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-10">
                
                {{ form_widget(form.title, {'attr': {'class': 'form-control','placeholder': 'Titre'}}) }}
                {{ form_errors(form.title) }}
            </div>
        </div>

        <div class="form-group ">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
            <div class="col-sm-10">
            {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder': 'Description','rows':'5'}}) }}
            {{ form_errors(form.description) }}
            </div>
        </div>


        

        <div style='width:50%; float:left'>
            <div class="form-group">
                {{ form_label(form.price, 'Prix', {'label_attr': {'class': 'col-sm-2  control-label'}}) }}
                <div class="input-group col-sm-6">
                    <span class="input-group-addon">DT</span>
                    <!--<input type="text" class="form-control">-->
                    {{ form_widget(form.price, {'attr': {'class': 'form-control','placeholder': 'Prix'}}) }}
                    <span class="input-group-addon">.00</span>

                </div>
                {{ form_errors(form.price) }}
            </div>
       </div>
       <div style='width:50%; float:left'>
           <div class="form-group">
           
            <div class="col-sm-8">
                {% for child in form.fixedPrice %}
                    <label class="radio-inline">
                       {{ form_widget(child) }}{{ form_label(child) }}
                    </label>
                {% endfor %}
            </div>
        </div>
           
       </div>
        <div style="clear:both;"></div>

    {# Hydrated by javascript #}
    <div class="file-uploader">

    </div>
    
    <div class="form-group">
        {{ form_label(form.showPhoneNumber, 'Afficher mon numéro de téléphone pour cette annonce ?'|raw, {'label_attr': {'class': 'col-sm-8'}}) }}
        <div class="col-sm-3">
            {% for child in form.showPhoneNumber %}
                <label class="radio-inline">
                   {{ form_widget(child) }}{{ form_label(child) }}
                </label>
            {% endfor %}
        </div>
    </div>
        
    
    <div class="form-group">
        {{ form_label(form.convertStars, 'Convertir mes stars sur cette annonce ?  (Annonces avec images seulement)'|raw, {'label_attr': {'class': 'col-sm-8'}}) }}
        <div class="col-sm-3">
            {% for child in form.convertStars %}
                <label class="radio-inline">
                   {{ form_widget(child) }}{{ form_label(child) }}
                </label>
            {% endfor %}
        </div>
    </div>
        
    {{ form_rest(form) }}
    <button class="btn btn-primary" type="submit" style="float:right">{{  "Valider" }}</button>
    
    

    

</form>



<script type="text/javascript">

// Enable the file uploader

$(function() {
    new PunkAveFileUploader({
        'uploadUrl': {{ path('annonce_upload', { id: entity.imgDirId }) | json_encode | raw }},
        'viewUrl': {{ ('/uploads/tmp/attachments/' ~ entity.imgDirId)  | json_encode | raw }},
        'el': '.file-uploader',
        'existingFiles': {{ punkave_get_files('tmp/attachments/' ~ entity.imgDirId) | json_encode | raw }},
        'delaySubmitWhileUploading': '.edit-form'
    });
});
</script>

    

    <!--<ul class="record_actions">
        <li>
            <a href="{{ path('annonce') }}">
            Back to the list
            </a>
        </li>
    </ul>-->


{% endblock %}


